vsphere_server     = ""
vsphere_user       = "Administrator@vsphere.local"
vsphere_password   = ""
vsphere_dc         = "PacketDatacenter"
datacenter         = "datastore1"
cluster            = ""
network_name       = "VM Network"
ubuntu_name        = "tf-edu-ubuntu"
