vsphere_server     = "127.0.0.1:8989"
vsphere_user       = "user"
vsphere_password   = "pass"
datacenter         = "DC0"
datastore          = "LocalDS_0"
cluster            = "DC0_C0"
network_name       = "VM Network"
ubuntu_name        = "tf-edu-ubuntu"