vsphere_server = ""
vcenter_user = "Administrator@vsphere.local"
vcenter_password = ""
datacenter = "PacketDatacenter"
cluster = ""
datastore = "datastore1"
network_name = "VM Network"
resource_pool = "Demo-ResourcePool"